* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #fff;
}

.main-nav {
    position: absolute;
    top: 100%;
    background: #fff;
    width: 100%;
    display: none;
}

.main-nav a {
    display: block;
    text-decoration: none;
}

#menu-switch:checked+.main-header .main-nav {
    display:block;
}
#menu-switch{
    /* display: none; */
}
@media (min-width:1024px) {
    .hb {
        display: none;
    }
    /* #menu-switch:checked+.main-header .main-nav {
        position: relative;
        width: auto;
        display: inline-block;
    } */
    .main-nav {
        display: inline-block;
        position: relative;
        width: auto;
    }
    .main-nav a {
        display: inline-block;
    }
    
}