@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
    box-sizing: border-box;
    /* border: 0.1px solid #000; */
}
h1{
    font-weight: 600;
}
h2{
    font-weight: 500;
}
h3{
    font-weight: 400;
}
a {
    color: #000;
    text-decoration: none;
}

img {
    width: 100%;
}
html{
    scroll-behavior: smooth;
}
/* ---------------------Nav-------------------------- */
#menu-switch {
    display: none;
}

.main-header {
    background-color: #FFF;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo img {
    vertical-align:middle;
    width: 40px;
    height: 40px;   
    margin-right: 4px;
}

.logo a {
    font-size: 1.5em;
    font-weight: 700;
    color: #000;
}
.logo h1{
    display: inline-block;
    font-size: 1em;
    margin-top: 0.15em;
}





@media screen and (max-width:992px) {
    .hb {
        margin-top: 0.2em;
        width: 40px;
        height: 40px;
        /* background-color: #f00; */
        position: relative;

    }

    .hb span {
        width: 80%;
        height: 2px;
        background-color: #000;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
    }

    .hb span:nth-child(1) {
        top: 9px;
        rotate: 0deg;
        transition: top 0.5s 0.5s, rotate 0.5s;
    }

    .hb span:nth-child(2) {
        top: 19px;
        opacity: 1;
    }

    .hb span:nth-child(3) {
        top: 29px;
        rotate: 0deg;
        transition: top 0.5s 0.5s, rotate 0.5s;
    }



    /* checkbox控制 */
    /* #menu-switch:checked+.main-header .hb span:nth-child(1) {
        top: 19px;
        rotate: 405deg;
        transition: top 0.5s, rotate 0.5s 0.5s;
    }

    #menu-switch:checked+.main-header .hb span:nth-child(2) {
        opacity: 0;
        transition: 0.5s;
    }

    #menu-switch:checked+.main-header .hb span:nth-child(3) {
        top: 19px;
        rotate: 315deg;
        transition: top 0.5s, rotate 0.5s 0.5s;
    } */

    .main-nav {
        width: 100%;
        position: absolute;
        background-color: #FFFFFF;
        left: 0;
        top: 100%;
        display: none;
    }

    .main-nav a {
        display: block;
        padding: 15px;
        text-decoration: none;
        color: #000;
        font-size: 1em;
        font-weight: 500;
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }

    .main-nav a:hover {
        background: #F5F5F5;
    }

    .main-nav a+a {
        margin-top: 0;
        /* border-top: 1px solid #000; */
    }

    #menu-switch:checked+.main-header .main-nav {
        display: block;
    }

}

@media screen and (min-width:768px) {
    .main-nav a {
        font-size: 1.5em;
    }
}

@media screen and (min-width:1024px) {
    .hb {
        display: none;
    }

    .main-nav a {
        display: inline-block;

    }

    .main-nav a {
        margin-top: 0.4em;
        font-size: 1.2em;
        margin-right: 2em;
    }
}

/* ---------------------Nav-------------------------- */
/* -----------------------owl----------------------- */
.banner .slider-pic{
    scale: 0.9;
    /* filter: blur(3px); */
    width: 94%;
    margin: auto;
}
.banner .slider-pic img{
    border-radius: 2.375rem;
}
.banner .owl-item.active.center .slider-pic{
    scale: 1;
    /* filter: blur(0px); */
}
.banner .owl-carousel .owl-nav button.owl-prev,
.banner .owl-carousel .owl-nav button.owl-next{
    display: none;
    position: absolute;
    top: 0;
    bottom: 40px;
    width: 40px;
    /* background-color: #fff7; */
    margin: 0;
    border-radius: 0;
}
.banner .owl-carousel .owl-nav button.owl-prev{
    left: 0;
    background-image: linear-gradient(to right,#fffa,#fff0);
}
.banner .owl-carousel .owl-nav button.owl-next{
    right: 0;
    background-image: linear-gradient(to left,#fffa,#fff0);
}
.banner .owl-theme .owl-dots .owl-dot:hover span{
    background-color: blue;
    
}
.banner .owl-theme .owl-dots .owl-dot .active span{
    background-color: red;
    scale: 1.7;
    transition: .5s;

}
.banner .pic .owl-theme .owl-nav.disabled+.owl-dots{
    width: 30px;
    margin-top: -2em;
}
.banner .pic .owl-theme .owl-dots .owl-dot span{
    width: 2.2em;
    border-radius: 5%;
    margin-top: -2.5em;
    height: 3px;  
    z-index: 2;  
    position: relative;
}
.xiang-carousel .slider-pic img{
    aspect-ratio: 4/4;
}
/* -----------------------owl-----------------------*/

.banner-txt{
    margin: auto;
    width: 94%;
    display: flex;  
    justify-content: center;
    align-items: center;
}
.banner-txt p{
    font-size: 1.1em;
    text-align: center;
    margin-top: .6em;
    margin-bottom: 2.4em;
    font-weight: 300;   
}
.banner-txt h1{
    margin-top: 1em;
    font-size: 2.4em;
    font-weight: 400;
    text-align: center;
}
.banner-txt a{
    margin-top: 1.2em;
    margin-bottom: 2em;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    background: rgb(139, 61, 255);
    border-radius: 0.375rem;
    padding: 8px 14px;
    color: #FFF;
}
#getstart:hover{
    scale: 0.97;
}
#my-canvas{
    width: 80%;
    margin: auto;
    height: 100vh;
    position: absolute;
    z-index: -1;
}
@media screen and (min-width:592px){
    
}
@media screen and (min-width:768px){
    .banner-txt a{
        display: inline-block;
    }
}
@media screen and (min-width:992px){
    .banner-txt h1{
        margin-top: 1em;
        font-size: 3.6em;
        font-weight: 400;
        text-align: center;
    }
}
@media screen and (min-width:1200px){
    .banner-txt h1{
        margin-top: 1em;
        font-size: 4.2em;
        font-weight: 400;
        text-align: center;
    }
    .banner-txt p{
        font-size: 1.6em;
        text-align: center;
        margin-top: .8em;
        margin-bottom: 1.8em;
        font-weight: 300;   
    }
}
/* =================banner========================== */
.container{
    max-width: 1800px;
    margin: auto;
}
.news-card{
    
    margin-top: 3em;
}

.news-card .title{
    text-align: center;
    font-size: 1.5em;  
    margin-bottom: .6em; 
}
.news-card .title h1{
    margin-bottom: 1em; 
}


.news{
    width: 94%;
    margin: auto;
    padding: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}
.news .title{
    text-align: left;
}
.news .title p{
    color: #FFF;
    padding: 6px;  
    display: inline-block;
    background:#5770BA;
    margin-top: 0.8em;
    border-radius: 1.275em;
    font-size: .3em;
}
/* .news .pic img{
    
} */
.news .txt a{
    color: blue ;
}
.news .txt{
    margin-top: 1em;
}
.news .txt p{
    margin-top: 1em;
    line-height: 1.8em;
}
.container .news:nth-child(n+2){
    margin-top: 1.5em;
}
.introduction{
  
    width: 45px;
    height: 45px;   
    align-items: center ;
}
.introduction img{
    border-radius: 50%;
}
.grow{
    flex-grow: 1;
}
.publish{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.5em;
}
.publish .name{
    display: inline-block;
    align-self: center;
    margin-left: 1em;
}

.community-vision{
    width: 94%;
    margin: auto;
}
.community-vision .title{
    margin-top: 2em;
    font-size: 1.5em;   
    text-align: center;
    margin-bottom: 1.5em;
}
.community-vision .txt{
    width: 94%;
    margin: auto;
    text-align: center;
    margin-top: 2.5em;
    line-height: 1.8em;
    font-size: 1.1em;
}

.two-col{
    width: 94%;
    margin: auto;
    margin-top: 2em;    
}

.two-col .item .item-txt h2{
    margin-top: 2em;
}
.two-col .item .item-txt p{
    line-height: 1.8em;
    margin-top: 0.5 em;
}
.two-col .item-pic img{
    aspect-ratio: 5/4;
}


.aboutus{
    width: 94%;
    margin: auto;
    margin-top: 4em;
}
.aboutus .title{
    text-align: center;
    font-size: 1.5em;  
    margin-bottom: 2em; 
}

.aboutus .owl-theme .owl-nav{
    display: none;
}
.aboutus .owl-dots{
    margin-top: 0.5em;
}



.club-member{
    width: 94%;
    margin: auto;
    margin-top: 2em;
}
.member{
    width: 94%; 
    text-align: center;
    font-size: 1.5em;  
    margin: 2em auto 2em auto;
   
}
.member h2{
    margin-bottom: 1em;
}

.contact-us{
    margin-bottom: 4em;
    padding: 10px;
}
.contact-us .member-card .txt{
    display: flex;
    flex-direction: column;
    align-items:start;
}

.contact-us .member-card .txt a{
    color: #000;
    display: block;
    font-size: 1em;
    font-weight: 600;
    
}
.contact-us .member-card .txt > a{
    margin-top: -1em;
}
.contact-us .member-card .txt a + a{
    margin-top: .5em;

}
.contact-us .member-card .txt address{
    margin-top: .5em;

}
.contact-us .member-card .txt i:before{
    margin-right: 0.3em;
    font-size: 1.4em;
    vertical-align: middle;
    min-width: 80;
}


footer{
    background: #F5F5F5;
}
footer .footer-item{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}
.footer-icon{
    display: flex;
    justify-content: space-evenly;
    /* padding: 20px; */
    font-size: 1.4em;
    min-width: 80px;
}

.footer-icon i{
    align-items: center;
}
.footers{
    display: flex;
    padding: 20px;
    font-size: .7em;
}
.footers .item + .item::before{
    content: '|';
    margin: 0 .3em ;
}


.copyright{
    padding: 20px;  
    font-size: 0.7em;
}
.footer-item .footers{
    display: none;
}


@media screen and (min-width:768px){
    .news{
        margin-top: 1em;
    }
    .aboutus{
        width: 80%
    }
    .container .news:nth-child(n+2){
        margin-top: 1.5em;
    }
    .member-card .news:nth-child(n+2){
        margin-top:0;
    }
    .community-vision{
        width: 85%;
        margin: 4em auto auto auto;
  
    }
    .two-col{
        margin-top: 1.5em;
    }
    .two-col .item{
        width: 98%;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
    }
    .two-col .item .item-pic{
        width: 35%;
        display: flex;
        align-items: center;
        padding: 0;
    }
    .two-col .item .item-pic img{
        border-radius: 30px;
    }
    .two-col .item .item-txt{
        width: 38%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: justify;
        
    }
    .two-col .item .item-txt h2{
        margin-bottom: 0.5em;
    }
    .two-col .item .item-txt h2:nth-child(n+2){
        margin-top: 1em;
    }
    
    .club-member .member-card .news:nth-child(2){
        order: 1;
        margin-top: 2.3em;
    }
    .club-member .member-card .news:nth-child(4){
        order: 2;
        margin-top: 2.3em;
    }




}
@media screen and (min-width:992px){
    .news-group{
        width: 76%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
    }   
    .news{
        width: 30%;
        margin: 0;
    }
    .aboutus{
        width: 60%
    }
    .contact{
        width: 94%;
        max-width: none;
    }
    .container .news:nth-child(n+2){
        margin-top: 0;
    }
    .club-member .member-card .news-group{
        display: flex;      
        flex-wrap: wrap;
    }
    .club-member .member-card .news{
        width: 40%;
    }
    .contact-us .member-card .txt{
        display: flex;
        flex-direction: row;
        align-items:start;
        justify-content: space-evenly;
        margin-bottom: 1em;
        text-align: center;
        padding: 1.5em;
    }
    .contact-us .member-card .txt > a{
        margin-top: 0;
    }
    .contact-us .member-card .txt a + a{
        margin-top: 0;
    
    }
    .contact-us .member-card .txt address{
        margin-top: 0;
    
    }
    #two{
        order: 2;
    }
    #three{
        order: 3;
    }

    .contact-us .member-card .txt i:before{
        font-size: 1.6em;
        margin-right: 0.2em;
    }
    



    footer > div{
        width: 70%; 
        max-width:1250px;;
        margin: auto;
    }
    .footer-item .footers{
        display: flex   ;
    }
    .footers{
        display: none;
    }
    footer .footer-item > .item{
        font-size: 1.1em;
     }
    .footers{
        font-size: .9em;
    }
    .footers .item + .item::before{
        margin: 0 .5em ;
    }
    .copyright{
        padding: 0 0 20px 20px;
        font-size: .9em;
    }
    .footer-icon{
        font-size: 1.6em;
        min-width: 80px;
    }
}
@media screen and (min-width:1200px){
    .news-group{
        width: 72%;
    }
    .aboutus{
        width: 68%
    }
    .club-member .member-card .news-group{
        flex-wrap: nowrap;
        gap: 20px;
    }
    .club-member .member-card .news:nth-child(2){
        order: 0;
        margin-top: 0;
    }
    .club-member .member-card .news:nth-child(4){
        order: 0;
        margin-top: 0;
    }
    .container .news:nth-child(n+2){
        margin-top: 0;
    }
    .contact-us .member-card .txt{
        font-size: 1.2em;
    }
    .contact-us .member-card .txt i:before{
        font-size: 1.7em;
    }
    footer .footer-item > .item{
        font-size: 1.5em;
     }
     .footers{
         font-size: 1.1em;
     }
     .footers .item + .item::before{
         margin: 0 .5em ;
     }
     .copyright{
         padding: 0 0 20px 20px;
         font-size: 1.1em;
     }
     .footer-icon{
        font-size: 1.7em;
        min-width: 100px;
    }
   
}
@media screen and (min-width:1700px){
    .community-vision .txt{
        text-align: center;
        /* font-size: 1em; */
    }
    .member p{
        text-align: center;
    }
    .footer-icon{
        font-size: 1.7em;
        min-width: 140px;
    }
}